REACT_APP_AUTH0_DOMAIN=dev-znjb7bqo6p2kvzeq.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=cK8Ul5nUOVpv9tX57imgwCmfbMStB5RV
REACT_APP_AUTH0_CALLBACK_URL=http://localhost:4200/callback
REACT_APP_AUTH0_AUDIENCE=https://learn.sys.dev
REACT_APP_API_SERVER_URL=http://localhost:3000
REACT_APP_HELLO=Hello World Environment Variable
