## Frontend - Byte Wise
NX_REACT_APP_AUTH0_DOMAIN=
NX_REACT_APP_AUTH0_CLIENT_ID=
NX_REACT_APP_AUTH0_CALLBACK_URL=
NX_REACT_APP_AUTH0_AUDIENCE=
NX_REACT_APP_API_SERVER_URL=

## Backend - Byte Wise
PORT=3000
CLIENT_ORIGIN_URL=
AUTH0_AUDIENCE=
AUTH0_DOMAIN=
MONGO_URL=