PORT=6060
ENV=development
CLIENT_ORIGIN_URL=

# Auth0 Documentation: https://developer.auth0.com/resources/code-samples/full-stack/hello-world/basic-role-based-access-control/spa/react-typescript/express-typescript
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
